## Soal 1: Tentukan dari variabel
#### list_plat_mobil = ['B 1234 AB', 'B 6721 TY', 'B 1233 AY', 'B 6629 DD', 'B 1111 AM', 'B 6726 D', 'D 11223 KJ', 'AE 44677 GH', 'AE 67269 AA']
Pertanyaan:
Berapa jumlah plat genap dan ganjil?

(5 poin)

Langkah-langkah:

a. Gunakan materi iterasi dan conditional statement yang sudah kamu pelajari.

b. Manfaatkan operasi modulo (%) untuk menentukan bilangan genap / ganjil.

Catatan:

- Soal ini berkaitan dengan materi Sesi 1 dan 2 pada Python Programming.
- Soal ini juga terkait dengan challenge pertama pada Sesi 1 Python Programming.

In [6]:
# #Fungsi nomer mantap
# def ngeluarin_nomer(mantap):
#     angka = []
#     for i in mantap:
#         gemeter = i.split()[1]
#         angka.append(gemeter)
#     return angka


# list_plat_mobil = ['B 1234 AB', 'B 6721 TY', 'B 1233 AY', 'B 6629 DD', 'B 1111 AM', 'B 6726 D', 'D 11223 KJ', 'AE 44677 GH', 'AE 67269 AA']
# nomer_plat = ngeluarin_nomer(list_plat_mobil)
# print("ekstraksi nomer plat dari string:",nomer_plat)

ekstraksi nomer plat dari string: ['1234', '6721', '1233', '6629', '1111', '6726', '11223', '44677', '67269']

In [7]:
# #Mantap sekarang modulo gemeter
# def hitung_ganjil_genap(nomer):
#     ganjil = 0
#     genap = 0
#     for i in nomer:
#         if int(i) % 2 == 0:
#             genap += 1
#         else:
#             ganjil += 1
#     return ganjil, genap

# hasil_genap, hasil_ganjil = hitung_ganjil_genap(nomer_plat)

# print("Ganjil:", hasil_ganjil)
# print("Genap:", hasil_genap)

Ganjil: 2
Genap: 7

In [8]:
# # Lutfiatul Jannah
# # 20.24
# #SOAL NOMOR 1
# jumlah_plat_genap = 0
# jumlah_plat_ganjil = 0
# list_plat_mobil = ['B 1234 AB','B 6721 TY','B 1233 AY','B 6629 DD', 'B 1111 AM','B 6726 D','D 11223 KJ', 'AE 44677 GH', 'AE 67269 AA']
# angka_plat = [int(plat.split()[1]) for plat in list_plat_mobil]

# #cek genap atau ganjil
# for angka in angka_plat:
#     if angka % 2 == 0:
#         print('nomor plat genap')
#         jumlah_plat_genap+=1
#     else:
#         print('nomor plat ganjil')
#         jumlah_plat_ganjil+=1
# print(f'jumlah plat genap adalah')

nomor plat genap
nomor plat ganjil
nomor plat ganjil
nomor plat ganjil
nomor plat ganjil
nomor plat genap
nomor plat ganjil
nomor plat ganjil
nomor plat ganjil
jumlah plat genap adalah

In [12]:
list_plat_mobil = ['B 1234 AB', 'B 6721 TY', 'B 1233 AY', 'B 6629 DD',
                   'B 1111 AM', 'B 6726 D', 'D 11223 KJ', 'AE 44677 GH', 'AE 67269 AA']

plat_genap = []
plat_ganjil = []

for plat in list_plat_mobil:
    angka = int(plat.split()[1])
    if angka % 2 == 0:
        plat_genap.append(plat)
    else:
        plat_ganjil.append(plat)

print("Plat yang genap adalah:", plat_genap)
print("Plat yang ganjil adalah:", plat_ganjil)
print("Jumlah plat genap:", len(plat_genap))
print("Jumlah plat ganjil:", len(plat_ganjil))

Plat yang genap adalah: ['B 1234 AB', 'B 6726 D']
Plat yang ganjil adalah: ['B 6721 TY', 'B 1233 AY', 'B 6629 DD', 'B 1111 AM', 'D 11223 KJ', 'AE 44677 GH', 'AE 67269 AA']
Jumlah plat genap: 2
Jumlah plat ganjil: 7

## Soal 2: Membuat Deret Fibonacci
#### Buatlah deret Fibonacci sebanyak 12 angka yang dimulai dari 2 dan 3, menggunakan iterasi dengan cara for atau while.

Output yang diharapkan:
[2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

(5 poin)

Langkah-langkah:

a. Pahami apa itu deret Fibonacci

b. Buatlah variabel inisiasi untuk mengawali nilai item 2 dan 3

Catatan:

- Materi ini berkaitan dengan Sesi 2 Python Programming, bagian iterasi for / while

In [13]:
# #deret fibonacci
# def buat_fibo(mantap):
#     fibo = [2,3]
#     for i in range(2,mantap):
#         fibo.append(fibo[-1] + fibo[-2])
#     return fibo

# jumlah_index = 12
# hasil_fibo = buat_fibo(jumlah_index)
# print("Deret Fibonacci:", hasil_fibo)

Deret Fibonacci: [2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [14]:
# #SOAL NO 2
# a = 2
# b = 3
# list_fibo = [a, b]

# for _ in range(10):  #looping 10 kali lagi agar jml angka fibo = 12 sesuai soal
#     next_number = list_fibo[-1] + list_fibo[-2]
#     list_fibo.append(next_number)

# print(list_fibo)

[2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [15]:
deret_fibonaci = [2, 3]


for i in range(10):
    next_angka = deret_fibonaci[-1] + deret_fibonaci[-2]
    deret_fibonaci.append(next_angka)

print(deret_fibonaci)

[2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

## Soal 3: Menentukan Kemungkinan Kombinasi Bundling Kategori
#### Team Campaign PT ABC akan membuat promo bundling category product (berisi 3 category setiap bundling) untuk promo 17 Agustus. PT ABC memiliki 10 category product.

Ketentuan Bundling:

Tidak boleh hanya memiliki 1 jenis category dalam 1 bundling

1 Bundling boleh memiliki 2 category yang sama

Urutan tidak menjadi faktor pembeda
(contoh: c1 - c2 - c3 dianggap sama dengan c2 - c1 - c3)

#### Tentukan ada berapa jumlah kemungkinan bundling yang bisa terbentuk?

Berikut list code category:

list_id_category = ['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10']

(10 poin)

Langkah-langkah:

a. Buatlah variabel kosong untuk menampung kemungkinan kombinasi

b. Gunakan penerapan nested for (for dalam for)

c. Buatlah logic pengecekan apakah kombinasi 3 category sudah ada pada variabel inisiasi awal

d. Manfaatkan fungsi sort() untuk mengurutkan urutan kombinasi

Catatan:

- Soal ini berkaitan dengan materi Sesi 2 - Iterasi (bagian nested for)

- Terkait juga dengan Solusi Soal 3 - Exercise pada LMS

In [16]:
# # def buat(mantap):
# #     bundling = []
# #     for i in mantap:
# #         kategori = i
# #         for y in mantap:
# #             if i!=y:
# #                 kategori1 = y
# #                 for x in mantap:
# #                     if x != i and x != y:
# #                         kategori2 = x
# #                         kumpul = i + ' - ' + y + ' - ' + x
# #                         bundling.append(kumpul)
# #     return bundling

# def buat(mantap):
#     bundling = []
#     for i in mantap:
#         for j in mantap:
#             for k in mantap:
#                 if i == j == k:
#                     continue  # hindari 3 yang sama semua

#                 kombinasi = sorted([i, j, k])  # urutkan
#                 if kombinasi not in bundling:
#                     bundling.append(kombinasi)
#     return bundling


# list_id_category = ['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10']

# x = buat(list_id_category)
# print("List kombinasi bundling:", x)
# print("Jumlah kombinasi bundling:", len(x))

List kombinasi bundling: [['c1', 'c1', 'c2'], ['c1', 'c1', 'c3'], ['c1', 'c1', 'c4'], ['c1', 'c1', 'c5'], ['c1', 'c1', 'c6'], ['c1', 'c1', 'c7'], ['c1', 'c1', 'c8'], ['c1', 'c1', 'c9'], ['c1', 'c1', 'c10'], ['c1', 'c2', 'c2'], ['c1', 'c2', 'c3'], ['c1', 'c2', 'c4'], ['c1', 'c2', 'c5'], ['c1', 'c2', 'c6'], ['c1', 'c2', 'c7'], ['c1', 'c2', 'c8'], ['c1', 'c2', 'c9'], ['c1', 'c10', 'c2'], ['c1', 'c3', 'c3'], ['c1', 'c3', 'c4'], ['c1', 'c3', 'c5'], ['c1', 'c3', 'c6'], ['c1', 'c3', 'c7'], ['c1', 'c3', 'c8'], ['c1', 'c3', 'c9'], ['c1', 'c10', 'c3'], ['c1', 'c4', 'c4'], ['c1', 'c4', 'c5'], ['c1', 'c4', 'c6'], ['c1', 'c4', 'c7'], ['c1', 'c4', 'c8'], ['c1', 'c4', 'c9'], ['c1', 'c10', 'c4'], ['c1', 'c5', 'c5'], ['c1', 'c5', 'c6'], ['c1', 'c5', 'c7'], ['c1', 'c5', 'c8'], ['c1', 'c5', 'c9'], ['c1', 'c10', 'c5'], ['c1', 'c6', 'c6'], ['c1', 'c6', 'c7'], ['c1', 'c6', 'c8'], ['c1', 'c6', 'c9'], ['c1', 'c10', 'c6'], ['c1', 'c7', 'c7'], ['c1', 'c7', 'c8'], ['c1', 'c7', 'c9'], ['c1', 'c10', 'c7'], ['c1', 'c8', 'c8'], ['c1', 'c8', 'c9'], ['c1', 'c10', 'c8'], ['c1', 'c9', 'c9'], ['c1', 'c10', 'c9'], ['c1', 'c10', 'c10'], ['c2', 'c2', 'c3'], ['c2', 'c2', 'c4'], ['c2', 'c2', 'c5'], ['c2', 'c2', 'c6'], ['c2', 'c2', 'c7'], ['c2', 'c2', 'c8'], ['c2', 'c2', 'c9'], ['c10', 'c2', 'c2'], ['c2', 'c3', 'c3'], ['c2', 'c3', 'c4'], ['c2', 'c3', 'c5'], ['c2', 'c3', 'c6'], ['c2', 'c3', 'c7'], ['c2', 'c3', 'c8'], ['c2', 'c3', 'c9'], ['c10', 'c2', 'c3'], ['c2', 'c4', 'c4'], ['c2', 'c4', 'c5'], ['c2', 'c4', 'c6'], ['c2', 'c4', 'c7'], ['c2', 'c4', 'c8'], ['c2', 'c4', 'c9'], ['c10', 'c2', 'c4'], ['c2', 'c5', 'c5'], ['c2', 'c5', 'c6'], ['c2', 'c5', 'c7'], ['c2', 'c5', 'c8'], ['c2', 'c5', 'c9'], ['c10', 'c2', 'c5'], ['c2', 'c6', 'c6'], ['c2', 'c6', 'c7'], ['c2', 'c6', 'c8'], ['c2', 'c6', 'c9'], ['c10', 'c2', 'c6'], ['c2', 'c7', 'c7'], ['c2', 'c7', 'c8'], ['c2', 'c7', 'c9'], ['c10', 'c2', 'c7'], ['c2', 'c8', 'c8'], ['c2', 'c8', 'c9'], ['c10', 'c2', 'c8'], ['c2', 'c9', 'c9'], ['c10', 'c2', 'c9'], ['c10', 'c10', 'c2'], ['c3', 'c3', 'c4'], ['c3', 'c3', 'c5'], ['c3', 'c3', 'c6'], ['c3', 'c3', 'c7'], ['c3', 'c3', 'c8'], ['c3', 'c3', 'c9'], ['c10', 'c3', 'c3'], ['c3', 'c4', 'c4'], ['c3', 'c4', 'c5'], ['c3', 'c4', 'c6'], ['c3', 'c4', 'c7'], ['c3', 'c4', 'c8'], ['c3', 'c4', 'c9'], ['c10', 'c3', 'c4'], ['c3', 'c5', 'c5'], ['c3', 'c5', 'c6'], ['c3', 'c5', 'c7'], ['c3', 'c5', 'c8'], ['c3', 'c5', 'c9'], ['c10', 'c3', 'c5'], ['c3', 'c6', 'c6'], ['c3', 'c6', 'c7'], ['c3', 'c6', 'c8'], ['c3', 'c6', 'c9'], ['c10', 'c3', 'c6'], ['c3', 'c7', 'c7'], ['c3', 'c7', 'c8'], ['c3', 'c7', 'c9'], ['c10', 'c3', 'c7'], ['c3', 'c8', 'c8'], ['c3', 'c8', 'c9'], ['c10', 'c3', 'c8'], ['c3', 'c9', 'c9'], ['c10', 'c3', 'c9'], ['c10', 'c10', 'c3'], ['c4', 'c4', 'c5'], ['c4', 'c4', 'c6'], ['c4', 'c4', 'c7'], ['c4', 'c4', 'c8'], ['c4', 'c4', 'c9'], ['c10', 'c4', 'c4'], ['c4', 'c5', 'c5'], ['c4', 'c5', 'c6'], ['c4', 'c5', 'c7'], ['c4', 'c5', 'c8'], ['c4', 'c5', 'c9'], ['c10', 'c4', 'c5'], ['c4', 'c6', 'c6'], ['c4', 'c6', 'c7'], ['c4', 'c6', 'c8'], ['c4', 'c6', 'c9'], ['c10', 'c4', 'c6'], ['c4', 'c7', 'c7'], ['c4', 'c7', 'c8'], ['c4', 'c7', 'c9'], ['c10', 'c4', 'c7'], ['c4', 'c8', 'c8'], ['c4', 'c8', 'c9'], ['c10', 'c4', 'c8'], ['c4', 'c9', 'c9'], ['c10', 'c4', 'c9'], ['c10', 'c10', 'c4'], ['c5', 'c5', 'c6'], ['c5', 'c5', 'c7'], ['c5', 'c5', 'c8'], ['c5', 'c5', 'c9'], ['c10', 'c5', 'c5'], ['c5', 'c6', 'c6'], ['c5', 'c6', 'c7'], ['c5', 'c6', 'c8'], ['c5', 'c6', 'c9'], ['c10', 'c5', 'c6'], ['c5', 'c7', 'c7'], ['c5', 'c7', 'c8'], ['c5', 'c7', 'c9'], ['c10', 'c5', 'c7'], ['c5', 'c8', 'c8'], ['c5', 'c8', 'c9'], ['c10', 'c5', 'c8'], ['c5', 'c9', 'c9'], ['c10', 'c5', 'c9'], ['c10', 'c10', 'c5'], ['c6', 'c6', 'c7'], ['c6', 'c6', 'c8'], ['c6', 'c6', 'c9'], ['c10', 'c6', 'c6'], ['c6', 'c7', 'c7'], ['c6', 'c7', 'c8'], ['c6', 'c7', 'c9'], ['c10', 'c6', 'c7'], ['c6', 'c8', 'c8'], ['c6', 'c8', 'c9'], ['c10', 'c6', 'c8'], ['c6', 'c9', 'c9'], ['c10', 'c6', 'c9'], ['c10', 'c10', 'c6'], ['c7', 'c7', 'c8'], ['c7', 'c7', 'c9'], ['c10', 'c7', 'c7'], ['c7', 'c8', 'c8'], ['c7', 'c8', 'c9'], ['c10', 'c7', 'c8'], ['c7', 'c9', 'c9'], ['c10', 'c7', 'c9'], ['c10', 'c10', 'c7'], ['c8', 'c8', 'c9'], ['c10', 'c8', 'c8'], ['c8', 'c9', 'c9'], ['c10', 'c8', 'c9'], ['c10', 'c10', 'c8'], ['c10', 'c9', 'c9'], ['c10', 'c10', 'c9']]
Jumlah kombinasi bundling: 210

In [18]:
# Lutfiatul Jannah
# 20.32
list_id_category = ['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10']
kombinasi_unik = []

for i in list_id_category:
    for j in list_id_category:
        for k in list_id_category:
            kombinasi = sorted([i, j, k])

            # Cek: tidak semua sama DAN belum ada dalam list
            if not (kombinasi[0] == kombinasi[1] == kombinasi[2]) and kombinasi not in kombinasi_unik:
                kombinasi_unik.append(kombinasi)

print("Jumlah kombinasi unik:", len(kombinasi_unik))

Jumlah kombinasi unik: 210

In [21]:
# list_id_category = ['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10']

# bundling_list = []

# for x in list_id_category:
#     for y in list_id_category:
#         for z in list_id_category:
#             if x != y and x != z and y != z:
#                 bundling = sorted([x, y, z])            # urutkan bundling
#                 bundling_str = '-'.join(bundling)       
#                 if bundling_str not in bundling_list:   # mencegah agar tidak ada kombinasi yg sama
#                     bundling_list.append(bundling_str)  

# print(bundling_list)
# print('Jumlah probabilitas bundling:', len(bundling_list))

['c1-c2-c3', 'c1-c2-c4', 'c1-c2-c5', 'c1-c2-c6', 'c1-c2-c7', 'c1-c2-c8', 'c1-c2-c9', 'c1-c10-c2', 'c1-c3-c4', 'c1-c3-c5', 'c1-c3-c6', 'c1-c3-c7', 'c1-c3-c8', 'c1-c3-c9', 'c1-c10-c3', 'c1-c4-c5', 'c1-c4-c6', 'c1-c4-c7', 'c1-c4-c8', 'c1-c4-c9', 'c1-c10-c4', 'c1-c5-c6', 'c1-c5-c7', 'c1-c5-c8', 'c1-c5-c9', 'c1-c10-c5', 'c1-c6-c7', 'c1-c6-c8', 'c1-c6-c9', 'c1-c10-c6', 'c1-c7-c8', 'c1-c7-c9', 'c1-c10-c7', 'c1-c8-c9', 'c1-c10-c8', 'c1-c10-c9', 'c2-c3-c4', 'c2-c3-c5', 'c2-c3-c6', 'c2-c3-c7', 'c2-c3-c8', 'c2-c3-c9', 'c10-c2-c3', 'c2-c4-c5', 'c2-c4-c6', 'c2-c4-c7', 'c2-c4-c8', 'c2-c4-c9', 'c10-c2-c4', 'c2-c5-c6', 'c2-c5-c7', 'c2-c5-c8', 'c2-c5-c9', 'c10-c2-c5', 'c2-c6-c7', 'c2-c6-c8', 'c2-c6-c9', 'c10-c2-c6', 'c2-c7-c8', 'c2-c7-c9', 'c10-c2-c7', 'c2-c8-c9', 'c10-c2-c8', 'c10-c2-c9', 'c3-c4-c5', 'c3-c4-c6', 'c3-c4-c7', 'c3-c4-c8', 'c3-c4-c9', 'c10-c3-c4', 'c3-c5-c6', 'c3-c5-c7', 'c3-c5-c8', 'c3-c5-c9', 'c10-c3-c5', 'c3-c6-c7', 'c3-c6-c8', 'c3-c6-c9', 'c10-c3-c6', 'c3-c7-c8', 'c3-c7-c9', 'c10-c3-c7', 'c3-c8-c9', 'c10-c3-c8', 'c10-c3-c9', 'c4-c5-c6', 'c4-c5-c7', 'c4-c5-c8', 'c4-c5-c9', 'c10-c4-c5', 'c4-c6-c7', 'c4-c6-c8', 'c4-c6-c9', 'c10-c4-c6', 'c4-c7-c8', 'c4-c7-c9', 'c10-c4-c7', 'c4-c8-c9', 'c10-c4-c8', 'c10-c4-c9', 'c5-c6-c7', 'c5-c6-c8', 'c5-c6-c9', 'c10-c5-c6', 'c5-c7-c8', 'c5-c7-c9', 'c10-c5-c7', 'c5-c8-c9', 'c10-c5-c8', 'c10-c5-c9', 'c6-c7-c8', 'c6-c7-c9', 'c10-c6-c7', 'c6-c8-c9', 'c10-c6-c8', 'c10-c6-c9', 'c7-c8-c9', 'c10-c7-c8', 'c10-c7-c9', 'c10-c8-c9']
Jumlah probabilitas bundling: 120

## Soal 4: Membuat Fungsi string_processor

#### Buatlah sebuah function bernama string_processor dengan 2 parameter, yaitu:

- string (satu kata), dan

- nama proses yang akan dilakukan.

#### Function ini memiliki 4 jenis proses:

a. first_char  : mengembalikan huruf pertama dari string input

b. last_char  : mengembalikan huruf terakhir dari string input

c. num_chars  : mengembalikan jumlah seluruh huruf pada string input

d. num_vowels : mengembalikan jumlah huruf vokal pada string input

(12 poin)

Langkah-langkah:

a. Buatlah function baru bernama string_processor

b. Function ini memiliki 2 parameter

c. Buatlah conditional statement di dalam function tersebut sesuai dengan opsi proses yang dipilih ketika function dipanggil

Catatan:

- Materi ini terkait Sesi 3 dalam Materi Function

- Waktu pengerjaan yang disarankan: 15–20 menit

In [22]:
def string_processor(string, process_type):
    if process_type == 'first_char':
        return string[0]
    elif process_type == 'last_char':
        return string[-1]
    elif process_type == 'num_chars':
        return len(string)
    elif process_type == 'num_vowels':
        vowels = 'aeiouAEIOU'
        return sum(1 for i in string if i in vowels)
    else:
        raise ValueError("Invalid process type. Choose from 'first_char', 'last_char', 'num_chars', or 'num_vowels'.")


input_string = "Hello, World!"
print("First character:", string_processor(input_string, 'first_char'))
print("Last character:", string_processor(input_string, 'last_char'))
print("Number of characters:", string_processor(input_string, 'num_chars'))
print("Number of vowels:", string_processor(input_string, 'num_vowels'))

First character: H
Last character: !
Number of characters: 13
Number of vowels: 3

## Soal 5: Deteksi Pengguna Gmail pada Dataset

#### Menggunakan dataset rakamin_store_city_monthly, buatlah satu kolom baru dengan teknik apply lambda tanpa function def (cukup one-liner).

Nama kolom baru: is_gmail,

Dengan ketentuan:

- Nilai True jika menggunakan Gmail

- Nilai False jika bukan Gmail

#### Tentukan ada berapa user yang menggunakan email Gmail pada tahun 2018!

(14 poin)

Langkah-langkah:

a. Gunakan teknik apply lambda untuk membuat kolom tahun dengan cara slicing index dari tanggal

b. Gunakan teknik apply lambda yang fokus di satu kolom untuk membuat kolom is_gmail

c. Untuk melakukan pengecekan apakah Gmail atau tidak, cukup gunakan fungsi in

Catatan:

- Materi ini terkait Sesi 3 dalam Materi Function

- Waktu pengerjaan yang disarankan: 15–20 menit

In [23]:
import pandas as pd
df_soal5 = pd.read_csv('rakamin_store_city_monthly.csv', delimiter=';')
df_soal5.head(5)

,month,user_id,username,email,kota,total_visit,total_order,total_amount
0,2016-01,16,Kevin Ningsih,kevinningsih@roketmail.com,Jakarta Selatan,95,15,45724
1,2016-01,25,Sakti Hasaniy,saktihasaniy@outlook.com,Jakarta Pusat,97,1,26665
2,2016-01,39,Izhar Halim,izharhalim@gmail.com,Jakarta Timur,84,33,899001
3,2016-02,8,Dikposa Yosua Krisnanto,dikposayosuakrisnanto@hotmail.com,Jakarta Pusat,113,11,22012
4,2016-02,34,Ismail Wardhani,ismailwardhani@hotmail.com,Jakarta Selatan,25,2,55620

In [24]:
df_soal5['year'] = df_soal5['month'].apply(lambda x: x[:4])

df_soal5['is_gmail'] = df_soal5['email'].apply(lambda x: 'gmail.com' in x)

gmail_users_2018 = df_soal5[(df_soal5['year'] == '2018') & (df_soal5['is_gmail'])].shape[0]

print(f"Jumlah pengguna Gmail pada tahun 2018: {gmail_users_2018}")

Jumlah pengguna Gmail pada tahun 2018: 3

## Soal 6: Menghitung Total Sales dan Profit Berdasarkan Region dan Tahun

Gunakan dataset superstore.

#### Buatlah sebuah function yang dapat menghitung jumlah Sales dan Profit berdasarkan input tahun dan region, dengan ketentuan:

- Default tahun adalah 2017

- Gunakan parameter default di dalam fungsi

### Pertanyaan:

#### Tentukan total Sales dan Profit untuk:

- South Region pada tahun 2016

- West Region pada tahun 2017

(14 poin)

#### Langkah-langkah pengerjaan:

a. Buatlah fungsi dengan 2 parameter, salah satunya memiliki default value 2017

b. Gunakan kolom Sales dan Profit sebagai metrik yang akan diakumulasi (gunakan teknik group by jika diperlukan)

#### Referensi materi:

Sesi 3 pada Materi Function, khususnya bagian default parameter

In [25]:
df_soal6 = pd.read_excel('superstore.xls')
df_soal6.head(5)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [26]:
def buat(region, tahun=2017):
    mantap = df_soal6[(df_soal6['Region'] == region) & (df_soal6['Order Date'].dt.year == tahun)]
    
    total_sales = mantap['Sales'].sum()
    total_profit = mantap['Profit'].sum()
    
    return total_sales, total_profit

# 1. South Region pada tahun 2016
sales_2016_south, profit_2016_south = buat('South', 2016)

# 2. West Region pada tahun 2017
sales_2017_west, profit_2017_west = buat('West')

print(f"South Region (2016) - Total Sales: {sales_2016_south}, Total Profit: {profit_2016_south}")
print(f"West Region (2017) - Total Sales: {sales_2017_west}, Total Profit: {profit_2017_west}")

South Region (2016) - Total Sales: 93610.22350000001, Total Profit: 17702.808399999994
West Region (2017) - Total Sales: 250128.3655, Total Profit: 43808.956099999996

## Soal 7: Segmentasi Customer Berdasarkan Performance Sales

Gunakan dataset superstore.

#### Buatlah 3 kelompok 'segment' customer yaitu:

- high

- medium

- low

Segmentasi didasarkan pada performance Sales, dan akan digunakan oleh tim bisnis untuk melakukan pengelompokan customer superstore.

Instruksi:

- Tentukan kriteria pengelompokan customer menjadi high, medium, dan low. Gunakan teknik .iterrows() atau .apply(lambda) untuk membuat kolom baru segmentasi.

- Berikan alasan logis atau justifikasi dari kriteria segmentasi yang kamu buat! (misalnya berdasarkan nilai kuartil/tertentu).

- Hitung dan tentukan jumlah customer pada masing-masing segment di tahun 2017!

(20 poin)

#### Langkah-langkah:

a. Buatlah kolom tahun terlebih dahulu, bisa memanfaatkan kolom Order Date

b. Hati-hati, karena ini segmentasi user maka perlu melakukan agregasi di level user terlebih dulu sebelum melakukan segmentasi

c. Tentukan threshold tiap-tiap segment, bisa menggunakan statistik deskriptif (describe)

d. Buatlah syntax function atau iterrows untuk membuat kolom baru

e. Pastikan ada handling exception jika ada kemungkinan error

#### Untuk mempermudah kamu, yuk lihat resource di bawah ini:

- Sesi 3 dan 4 pada Materi Function dan handling error

In [27]:
df_soal7 = pd.read_excel('superstore.xls')
df_soal7.head(5)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [28]:
# 1. Konversi kolom Order Date ke datetime dan filter data untuk tahun 2017
df_soal7['Order Date'] = pd.to_datetime(df_soal7['Order Date'])
df_2017 = df_soal7[df_soal7['Order Date'].dt.year == 2017]

# 2. Agregasi data di level Customer ID
customer_sales = df_2017.groupby('Customer ID')['Sales'].sum().reset_index()

# 3. Tentukan threshold untuk segmentasi
thresholds = customer_sales['Sales'].describe()
q1 = thresholds['25%']  # Kuartil ke-25
q3 = thresholds['75%']  # Kuartil ke-75

# 4. Buat kolom segmentasi
def segment_customer(sales):
    if sales > q3:
        return 'high'
    elif sales >= q1:
        return 'medium'
    else:
        return 'low'

customer_sales['Segment'] = customer_sales['Sales'].apply(segment_customer)

# 5. Hitung jumlah customer per segment
segment_counts = customer_sales['Segment'].value_counts()

# Output hasil
print("Thresholds:")
print(f"Low: < {q1}, Medium: {q1} - {q3}, High: > {q3}")
print("\nJumlah customer per segment di tahun 2017:")
print(segment_counts)

Thresholds:
Low: < 204.405, Medium: 204.405 - 1334.6416000000002, High: > 1334.6416000000002

Jumlah customer per segment di tahun 2017:
Segment
medium    347
low       173
high      173
Name: count, dtype: int64

## Soal 8: Pembuatan Modul Python

#### Buatlah suatu module bebas, dengan suatu manfaat tertentu (belum ada pada materi Function). Komponen yang wajib ada:

- Function
- Docstring
- Memanfaatkan conditional statement / iterasi (at least menggunakan salah satunya)
- Terdapat kondisi handling exception error

(20 poin)

#### Langkah-langkah:

a. Tentukan objective dari module yang akan dibuat

b. Buat drafting module pada project jupyter untuk melakukan testing. Pastikan terdapat point-point yang diminta

c. Copy function yang sudah dibuat pada suatu file berformat .py

d. Lakukan import pada project jupyter

e. Lakukan function call

#### Untuk mempermudah kamu, yuk lihat resource di bawah ini:

- Semua sesi yang sudah diajarkan pada Python Programming (Sesi 1–4)

In [1]:
from agung import gemeter

In [3]:
suhu = gemeter(100, 'celsius')

In [4]:
print("100°C ke Fahrenheit:", suhu.to_fahrenheit())  
print("100°C ke Kelvin:", suhu.to_kelvin())          
print("100°C ke Celsius:", suhu.to_celsius())

100°C ke Fahrenheit: 212.0
100°C ke Kelvin: 373.15
100°C ke Celsius: 100.0

In [9]:
daftar_suhu = [30, 32, 28, 31]
rata2 = gemeter.average_temperature(daftar_suhu, unit='fahrenheit')
print("Rata-rata suhu dalam Fahrenheit:", rata2)

Rata-rata suhu dalam Fahrenheit: 86.45

In [ ]:
## UJI HANDLING ERROR INPUT STRING

salah = gemeter('makanan', 'celsius')

In [12]:
import agung2 as ag

list_angka = [1, 2, 3, 4, 5]
minimal = ag.mencari_min(list_angka)
print(minimal)

1