## Soal 1: Tentukan dari variabel
#### list_plat_mobil = ['B 1234 AB', 'B 6721 TY', 'B 1233 AY', 'B 6629 DD', 'B 1111 AM', 'B 6726 D', 'D 11223 KJ', 'AE 44677 GH', 'AE 67269 AA']
Pertanyaan:
Berapa jumlah plat genap dan ganjil?

(5 poin)

Langkah-langkah:

a. Gunakan materi iterasi dan conditional statement yang sudah kamu pelajari.

b. Manfaatkan operasi modulo (%) untuk menentukan bilangan genap / ganjil.

Catatan:

- Soal ini berkaitan dengan materi Sesi 1 dan 2 pada Python Programming.
- Soal ini juga terkait dengan challenge pertama pada Sesi 1 Python Programming.

In [12]:
list_plat_mobil = ['B 1234 AB', 'B 6721 TY', 'B 1233 AY', 'B 6629 DD',
                   'B 1111 AM', 'B 6726 D', 'D 11223 KJ', 'AE 44677 GH', 'AE 67269 AA']

plat_genap = []
plat_ganjil = []

for plat in list_plat_mobil:
    angka = int(plat.split()[1])
    if angka % 2 == 0:
        plat_genap.append(plat)
    else:
        plat_ganjil.append(plat)

print("Plat yang genap adalah:", plat_genap)
print("Plat yang ganjil adalah:", plat_ganjil)
print("Jumlah plat genap:", len(plat_genap))
print("Jumlah plat ganjil:", len(plat_ganjil))

Plat yang genap adalah: ['B 1234 AB', 'B 6726 D']
Plat yang ganjil adalah: ['B 6721 TY', 'B 1233 AY', 'B 6629 DD', 'B 1111 AM', 'D 11223 KJ', 'AE 44677 GH', 'AE 67269 AA']
Jumlah plat genap: 2
Jumlah plat ganjil: 7

## Soal 2: Membuat Deret Fibonacci
#### Buatlah deret Fibonacci sebanyak 12 angka yang dimulai dari 2 dan 3, menggunakan iterasi dengan cara for atau while.

Output yang diharapkan:
[2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

(5 poin)

Langkah-langkah:

a. Pahami apa itu deret Fibonacci

b. Buatlah variabel inisiasi untuk mengawali nilai item 2 dan 3

Catatan:

- Materi ini berkaitan dengan Sesi 2 Python Programming, bagian iterasi for / while

In [15]:
deret_fibonaci = [2, 3]


for i in range(10):
    next_angka = deret_fibonaci[-1] + deret_fibonaci[-2]
    deret_fibonaci.append(next_angka)

print(deret_fibonaci)

[2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

## Soal 3: Menentukan Kemungkinan Kombinasi Bundling Kategori
#### Team Campaign PT ABC akan membuat promo bundling category product (berisi 3 category setiap bundling) untuk promo 17 Agustus. PT ABC memiliki 10 category product.

Ketentuan Bundling:

Tidak boleh hanya memiliki 1 jenis category dalam 1 bundling

1 Bundling boleh memiliki 2 category yang sama

Urutan tidak menjadi faktor pembeda
(contoh: c1 - c2 - c3 dianggap sama dengan c2 - c1 - c3)

#### Tentukan ada berapa jumlah kemungkinan bundling yang bisa terbentuk?

Berikut list code category:

list_id_category = ['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10']

(10 poin)

Langkah-langkah:

a. Buatlah variabel kosong untuk menampung kemungkinan kombinasi

b. Gunakan penerapan nested for (for dalam for)

c. Buatlah logic pengecekan apakah kombinasi 3 category sudah ada pada variabel inisiasi awal

d. Manfaatkan fungsi sort() untuk mengurutkan urutan kombinasi

Catatan:

- Soal ini berkaitan dengan materi Sesi 2 - Iterasi (bagian nested for)

- Terkait juga dengan Solusi Soal 3 - Exercise pada LMS

In [18]:
# Lutfiatul Jannah
# 20.32
list_id_category = ['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10']
kombinasi_unik = []

for i in list_id_category:
    for j in list_id_category:
        for k in list_id_category:
            kombinasi = sorted([i, j, k])

            # Cek: tidak semua sama DAN belum ada dalam list
            if not (kombinasi[0] == kombinasi[1] == kombinasi[2]) and kombinasi not in kombinasi_unik:
                kombinasi_unik.append(kombinasi)

print("Jumlah kombinasi unik:", len(kombinasi_unik))

Jumlah kombinasi unik: 210

## Soal 4: Membuat Fungsi string_processor

#### Buatlah sebuah function bernama string_processor dengan 2 parameter, yaitu:

- string (satu kata), dan

- nama proses yang akan dilakukan.

#### Function ini memiliki 4 jenis proses:

a. first_char  : mengembalikan huruf pertama dari string input

b. last_char  : mengembalikan huruf terakhir dari string input

c. num_chars  : mengembalikan jumlah seluruh huruf pada string input

d. num_vowels : mengembalikan jumlah huruf vokal pada string input

(12 poin)

Langkah-langkah:

a. Buatlah function baru bernama string_processor

b. Function ini memiliki 2 parameter

c. Buatlah conditional statement di dalam function tersebut sesuai dengan opsi proses yang dipilih ketika function dipanggil

Catatan:

- Materi ini terkait Sesi 3 dalam Materi Function

- Waktu pengerjaan yang disarankan: 15–20 menit

In [25]:
def string_processor(kata, proses):
    if proses == 'first_char':
        return kata[0]
    elif proses == 'last_char':
        return kata[-1]
    elif proses == 'num_chars':
        return len(kata)
    elif proses == 'num_vowels':
        vokal = 'aiueoAIUEO'
        return sum(1 for huruf in kata if huruf in vokal)
    else:
        return 'Proses tidak dikenali'

input_kata = "Halo, Dunia!"
print("Karakter pertama:", string_processor(input_kata, 'first_char'))
print("Karakter terakhir:", string_processor(input_kata, 'last_char'))
print("Jumlah karakter:", string_processor(input_kata, 'num_chars'))
print("Jumlah huruf vokal:", string_processor(input_kata, 'num_vowels'))

Karakter pertama: H
Karakter terakhir: !
Jumlah karakter: 12
Jumlah huruf vokal: 5

## Soal 5: Deteksi Pengguna Gmail pada Dataset

#### Menggunakan dataset rakamin_store_city_monthly, buatlah satu kolom baru dengan teknik apply lambda tanpa function def (cukup one-liner).

Nama kolom baru: is_gmail,

Dengan ketentuan:

- Nilai True jika menggunakan Gmail

- Nilai False jika bukan Gmail

#### Tentukan ada berapa user yang menggunakan email Gmail pada tahun 2018!

(14 poin)

Langkah-langkah:

a. Gunakan teknik apply lambda untuk membuat kolom tahun dengan cara slicing index dari tanggal

b. Gunakan teknik apply lambda yang fokus di satu kolom untuk membuat kolom is_gmail

c. Untuk melakukan pengecekan apakah Gmail atau tidak, cukup gunakan fungsi in

Catatan:

- Materi ini terkait Sesi 3 dalam Materi Function

- Waktu pengerjaan yang disarankan: 15–20 menit

In [34]:
import pandas as pd
df = pd.read_csv('rakamin_store_city_monthly.csv', delimiter=';')
df['is_gmail'] = df['email'].apply(lambda x: True if x.split('@')[1].startswith('gmail') else False)
df.head(10)

,month,user_id,username,email,kota,total_visit,total_order,total_amount,is_gmail
0,2016-01,16,Kevin Ningsih,kevinningsih@roketmail.com,Jakarta Selatan,95,15,45724,False
1,2016-01,25,Sakti Hasaniy,saktihasaniy@outlook.com,Jakarta Pusat,97,1,26665,False
2,2016-01,39,Izhar Halim,izharhalim@gmail.com,Jakarta Timur,84,33,899001,True
3,2016-02,8,Dikposa Yosua Krisnanto,dikposayosuakrisnanto@hotmail.com,Jakarta Pusat,113,11,22012,False
4,2016-02,34,Ismail Wardhani,ismailwardhani@hotmail.com,Jakarta Selatan,25,2,55620,False
5,2016-02,51,Athirah Atsila,athirahatsila@yahoo.com,Depok,80,6,51986,False
6,2016-03,40,Garin Sugiyanto,garinsugiyanto@yahoo.com,Bekasi,35,27,157965,False
7,2016-03,56,Anna Usra,annausra@roketmail.com,Jakarta Timur,17,30,898399,False
8,2016-03,82,Tresna Rianita Prasojo,tresnarianitaprasojo@yahoo.com,Jakarta Selatan,37,12,46063,False
9,2016-05,9,Dhanu Rahman,dhanurahman@gmail.com,Jakarta Utara,112,3,29994,True

In [35]:
df['year'] = df['month'].apply(lambda x: x[:4]) # menambahkan kolom baru mengambil hanya tahun
df.head(10)

,month,user_id,username,email,kota,total_visit,total_order,total_amount,is_gmail,year
0,2016-01,16,Kevin Ningsih,kevinningsih@roketmail.com,Jakarta Selatan,95,15,45724,False,2016
1,2016-01,25,Sakti Hasaniy,saktihasaniy@outlook.com,Jakarta Pusat,97,1,26665,False,2016
2,2016-01,39,Izhar Halim,izharhalim@gmail.com,Jakarta Timur,84,33,899001,True,2016
3,2016-02,8,Dikposa Yosua Krisnanto,dikposayosuakrisnanto@hotmail.com,Jakarta Pusat,113,11,22012,False,2016
4,2016-02,34,Ismail Wardhani,ismailwardhani@hotmail.com,Jakarta Selatan,25,2,55620,False,2016
5,2016-02,51,Athirah Atsila,athirahatsila@yahoo.com,Depok,80,6,51986,False,2016
6,2016-03,40,Garin Sugiyanto,garinsugiyanto@yahoo.com,Bekasi,35,27,157965,False,2016
7,2016-03,56,Anna Usra,annausra@roketmail.com,Jakarta Timur,17,30,898399,False,2016
8,2016-03,82,Tresna Rianita Prasojo,tresnarianitaprasojo@yahoo.com,Jakarta Selatan,37,12,46063,False,2016
9,2016-05,9,Dhanu Rahman,dhanurahman@gmail.com,Jakarta Utara,112,3,29994,True,2016

In [36]:
df[df.year == '2018'].groupby('is_gmail')['user_id'].nunique().reset_index()

   is_gmail  user_id
0     False       14
1      True        3

## Soal 6: Menghitung Total Sales dan Profit Berdasarkan Region dan Tahun

Gunakan dataset superstore.

#### Buatlah sebuah function yang dapat menghitung jumlah Sales dan Profit berdasarkan input tahun dan region, dengan ketentuan:

- Default tahun adalah 2017

- Gunakan parameter default di dalam fungsi

### Pertanyaan:

#### Tentukan total Sales dan Profit untuk:

- South Region pada tahun 2016

- West Region pada tahun 2017

(14 poin)

#### Langkah-langkah pengerjaan:

a. Buatlah fungsi dengan 2 parameter, salah satunya memiliki default value 2017

b. Gunakan kolom Sales dan Profit sebagai metrik yang akan diakumulasi (gunakan teknik group by jika diperlukan)

#### Referensi materi:

Sesi 3 pada Materi Function, khususnya bagian default parameter

In [45]:
df = pd.read_excel('superstore.xls')
def function_sales_profit(df, region, tahun=2017):
    df['Order Date'] = pd.to_datetime(df['Order Date'])
    df['Tahun'] = df['Order Date'].dt.year
    data_filtered = df[(df['Region'] == region) & (df['Tahun'] == tahun)]
    total_sales = data_filtered['Sales'].sum()
    total_profit = data_filtered['Profit'].sum()

    return total_sales, total_profit
#poin 1
sales1, profit1 = function_sales_profit(df, region='South', tahun=2016)
print("South Region 2016 - Sales:", round(sales1), "| Profit:", round(profit1))
#poin 2
sales2, profit2 = function_sales_profit(df, region='West')  # tahun default = 2017
print("West Region 2017 - Sales:", round(sales2), "| Profit:", round(profit2))

South Region 2016 - Sales: 93610 | Profit: 17703
West Region 2017 - Sales: 250128 | Profit: 43809

## Soal 7: Segmentasi Customer Berdasarkan Performance Sales

Gunakan dataset superstore.

#### Buatlah 3 kelompok 'segment' customer yaitu:

- high

- medium

- low

Segmentasi didasarkan pada performance Sales, dan akan digunakan oleh tim bisnis untuk melakukan pengelompokan customer superstore.

Instruksi:

- Tentukan kriteria pengelompokan customer menjadi high, medium, dan low. Gunakan teknik .iterrows() atau .apply(lambda) untuk membuat kolom baru segmentasi.

- Berikan alasan logis atau justifikasi dari kriteria segmentasi yang kamu buat! (misalnya berdasarkan nilai kuartil/tertentu).

- Hitung dan tentukan jumlah customer pada masing-masing segment di tahun 2017!

(20 poin)

#### Langkah-langkah:

a. Buatlah kolom tahun terlebih dahulu, bisa memanfaatkan kolom Order Date

b. Hati-hati, karena ini segmentasi user maka perlu melakukan agregasi di level user terlebih dulu sebelum melakukan segmentasi

c. Tentukan threshold tiap-tiap segment, bisa menggunakan statistik deskriptif (describe)

d. Buatlah syntax function atau iterrows untuk membuat kolom baru

e. Pastikan ada handling exception jika ada kemungkinan error

#### Untuk mempermudah kamu, yuk lihat resource di bawah ini:

- Sesi 3 dan 4 pada Materi Function dan handling error

In [53]:
df1 = pd.read_excel('superstore.xls')
df1['year'] = pd.DatetimeIndex(df1['Order Date']).year
df_agg = df1.groupby(['Customer ID', 'year'])['Sales'].sum().reset_index()

# Cek statistik deskriptif
print(df_agg['Sales'].describe())

def segmentasi_sales(sales):
    try:
        if sales >= 1172:
            return 'High'
        elif sales >= 121:
            return 'Medium'
        else:
            return 'Low'
    except:
        return 'Unknown'

df_agg['Sales Segment'] = df_agg['Sales'].apply(segmentasi_sales)
df_2017 = df_agg[df_agg['year'] == 2017]

hasil = df_2017.groupby('Sales Segment')['Customer ID'].nunique().reset_index()
hasil.columns = ['Sales Segment', 'Jumlah Customer']

print(hasil)

count     2499.000000
mean       919.248043
std       1434.964648
min          1.188000
25%        120.707000
50%        472.044000
75%       1171.928000
max      23661.228000
Name: Sales, dtype: float64
  Sales Segment  Jumlah Customer
0          High              201
1           Low              130
2        Medium              362

## Soal 8: Pembuatan Modul Python

#### Buatlah suatu module bebas, dengan suatu manfaat tertentu (belum ada pada materi Function). Komponen yang wajib ada:

- Function
- Docstring
- Memanfaatkan conditional statement / iterasi (at least menggunakan salah satunya)
- Terdapat kondisi handling exception error

(20 poin)

#### Langkah-langkah:

a. Tentukan objective dari module yang akan dibuat

b. Buat drafting module pada project jupyter untuk melakukan testing. Pastikan terdapat point-point yang diminta

c. Copy function yang sudah dibuat pada suatu file berformat .py

d. Lakukan import pada project jupyter

e. Lakukan function call

#### Untuk mempermudah kamu, yuk lihat resource di bawah ini:

- Semua sesi yang sudah diajarkan pada Python Programming (Sesi 1–4)

In [61]:
from soal8_kelompok3 import average_temperature

temperatures = [30, 40, 50,90,100,200,199] 
average_in_fahrenheit = average_temperature(temperatures, 'kelvin')
print(f"Rata-rata suhu {temperatures}°C dalam Kelvin adalah {average_in_fahrenheit}°K")

Rata-rata suhu [30, 40, 50, 90, 100, 200, 199]°C dalam Kelvin adalah 374.43571428571425°K